@import '../../../../dist/scss/variables.scss';

h1 {
    width: 100%;
    padding: 2rem 0;

    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: $secondary-text-color;

    background: $tertiary-background-color;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}